!!! html

%head
  %meta{:charset => 'utf8'}
%body
  %h1 
    At
    = @job.created_at
    A new job was added waiting approval:
  .company
    Company:
    =@job.company
  
  .title
    Title:
    =@job.title

  .id 
    Job Id:
    =@job.id
