#nav
  = form_tag('/', id:"search_form") do |f| 
    = text_field_tag :query, params[:query],:placeholder => "Search: ‘Johannesburg’, ‘C#’, ‘rails’…"

  #add-job
    = link_to "Post a job for free", new_job_path

#jobs
  %h2 
    %a Latest Jobs
  %ul
    -@jobs.each do |job|
      %li
        = link_to(render(:partial => "job", :locals => { :job => job}), job)  
