#nav
  = form_tag("jobs/search", :method => :get, :id=>"search_form") do  
    =text_field_tag "term",nil,:placeholder => "Search: ‘Johannesburg’, ‘C#’, ‘rails’…" 

  #add-job
    = link_to "Post a job", new_job_path

#jobs
  %h2 
    %a Latest Jobs
  %ul
    -@jobs.each do |job|
      %li
        = link_to(render(:partial => "job", :locals => { :job => job}), job)  
