%h2 Thanks! 
.note
  %p Your job posting has been created and is pending review
  %p All new job postings are hand-moderated before being going live and this may take a little while. Once your posting has been approved we'll send you the payment details. When your payment has been made your posting will go live for 30 days.

  %p 
    In our effort to draw the finest talent to our site we focus on delivering the best quality ads. We may at our discretion decide not to post a job posting or make small edits to it. 
    If we decide not to show a job post we'll inform you of the fact. 

  %p 
    If you've changed your mind and would not like to advertise the job, send a mail to 
    = mail_to 'info@techboard.co.za'

  =link_to "Click here to go back to the home page", :action => "index" 
