body{
  background:url("/images/bgpattern.gif");
}
a {
    color: #0066CC;
    text-decoration: none;
}

.header-container {
    margin: 20px auto 0;
    overflow: hidden;
    padding: 0;
    width: 890px;
}

#content {
    -moz-box-shadow: 3px 3px 3px #CCCCCC;
    -webkit-box-shadow: 3px 3px 3px #CCCCCC;
    box-shadow: 3px 3px 3px #CCCCCC;
    background: none repeat scroll 0 0 #FFF;
    border-left: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
    margin: 0 auto 5px;
    overflow: hidden;
    padding: 0 15px;
    width: 860px;
    margin-bottom: 55px;
}
.header-text{
 color: #FF7600;
 float: left;
 text-shadow: #CB5E00 0px 3px 3px; 
 font-size: 4em;
 /*font-family:Georgia, "Times","'Times New Roman'",serif;*/
}
.header-text a {
 color: #FF7600;
}
.header-subtext{
 color: black; 
}
.placeholder-text{
 color: #9E9E9E;
}
h2{
  color:#009299;
  font-family:Georgia, "Times","'Times New Roman'",serif;
  margin: 0 0 13px;
  padding: 5px 0 0;
}

.jobs ul {
    margin: 0 0 0 35px;
    padding: 0;
}

#jobs ul li {
    font-size: 13px;
    list-style-type: none;
    margin: 0;
}

.jobs ul li {
    font-size: 13px;
    list-style-type: none;
    margin: 0;
}


ul li a:hover {
  background-color:#67A7E6;
  color:#FFF;
}


ul li a {
    border-bottom: 1px solid #E8E8E8;
    color: #888888;
    display: block;
    margin: 0;
    padding: 10px;
}

span.location{
    color: #CB5E00;
    font-weight: bold;
    margin-right: 10px;
}

span:hover {
  color:#FFF;
}
.jobs span.company {
    color: #000000;
    font-weight: normal;
    margin-left: 5px;
}

span.title {
    color: #000000;
    font-weight: normal;
    margin-right: 5px;
    text-decoration: underline;
}
hr { 
  color:#009299; 
  margin-bottom: 1.5em;
}

#add-job {
  margin-top: 0.5em;
}
#add-job a {
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: #DA7620;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 12px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0 1px 0 #669900;
    float:right;
}

#search_form input {
  float:left;
  display:none; /*Remove this once we have search*/
  padding: 3px 10px 3px 25px;
  width: 300px;
  background:url("/images/search.png") no-repeat scroll 5px 3px #FFFFFF; 
}

#jobs { 
  overflow:hidden;
  width: 860px;
}
.job-detail {
  padding: 0px 0px 20px 10px;
}
#nav {
    margin: 18px 0 10px;
    overflow: hidden;
    width: 860px;
}

.date{
  float:right;
}
.job-header {
  float:left;
  width:500px;
}
.job-header h1 {
  font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Times","'Times New Roman'",serif;
  padding-top: 15px;
  color:#888888;
}

.job-header h3 {
  color:#888888;
  font-size:12px;
  font-weight:normal;
  line-height:1em;
  margin:0 0 20px;
}

.job-header h2 span {
  font-size:16px;
  font-weight:bold;
}

.job-logo {
  float:right;
  overflow:hidden;
  width:100px;
  margin-right: 30px;
}
.apply {
  -moz-border-radius:10px 10px 10px 10px;
  background-color:#EFEBE3;
  color:#000000;
  margin: 0 0 15px;
  overflow:hidden;
  padding:20px 20px 15px;
}

label {
  display:block;
  color:#888888;
}

fieldset {
  margin-top: 15px;
  border: none;
}

legend {
  color:#CB5E00;
  text-transform: uppercase;
}

.field {
  margin-bottom:20px;
}

.hint {
  color:#0066CC;
}

form .submit {
  border: medium none;
  background: -webkit-gradient(linear, left top, left bottom, from(#0066CC), to(#91C8FF));
	background: -moz-linear-gradient(top,  #0066CC,  #91C8FF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0066CC', endColorstr='#91C8FF');
  -webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;	
  color: #FFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 44px;
  width: 222px;
  line-height: 1em;
  margin: 0 0 30px 10px;
  padding: 10px 15px;
  text-shadow: 0 1px 0 #000;
  border: solid 1px #004080;
  /*background: url("/images/button.png") no-repeat scroll 0 0 transparent;*/
}
form .submit:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#0057AD), to(#91C8FF));
	background: -moz-linear-gradient(top,  #0057AD,  #91C8FF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0066CC', endColorstr='#91C8FF');
	text-decoration: none;
}

form .error.js{
  display:none;
}
.wysiwyg{
  width: 90%;
}

#footer {
    margin: 0 auto 55px;
    background: #FFF;
    overflow: hidden;
    padding: 0;
    width: 890px;
    bottom: 0;
}
.footer-container{
  margin: 10px;
}

.note {
  margin-top: 20px;
  margin-bottom: 30px;
}
input{ 
  width: 80%;
}
textarea{
  width: 80%;
}
