.footer
  .footer-container
    .footer-subscribe
      %p
        = link_to "Subcribe to the jobs RSS feed",  'jobs.rss'
        or 
        = link_to "follow @techboardcoza on Twitter",  'http://twitter.com/techboardcoza'
        to find out when new jobs are posted.
