.header-container
  %h1.header-text Techboard 
  %p{:style =>"float: right;"}
    %strong.header-subtext Tech Jobs in South Africa - No Employment Agents.

-if notice
  .notice=notice
-if alert 
  .alert=alert 
