.header-container
  %h1.header-text 
    = link_to "Techboard", "/" 
  %p{:style =>"float: right;"}
    %strong.header-subtext The best tech jobs in South Africa - No Recruitment Agents.

-if notice
  .notice=notice
-if alert 
  .alert=alert 
